{% extends "base_generic.html" %}

{% block content %}

    <p>La URL hija esta funcionando!!! </p>
    <h1>Nombre de owner: {{ data.nombre }}</h1>
    <h1>Edad: {{ data.edad }}</h1>
    <h1>Pais: {{ data.pais }}</h1>
    <h1>DNI: {{ data.dni }}</h1>
    <h1>Vigente: {{ data.vigente }}</h1>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>

{% endblock %}
